body {
  background: linear-gradient(90deg, silver, teal);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}



.title {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  padding-bottom: 12px;
}

.login-form {
  border: 2px solid black;
  font-size: 1rem;
  background: rgba(245, 245, 245, 0.705);
  border-radius: 5px;
  height: 10rem;
  padding: 2rem;
  width: 25rem;
  position: relative;
  top: 10rem;
}

.input-container {
  width: 10rem;
}

input {
  width: 12rem;
  border: 1px solid #333;
  border-radius: 2px;
  padding-left: 5px;
}

.button-container {
  padding-top: 8px;
}

form {
  padding-top: 5px;
}